@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

h1,h2,h3,h4,h5,h6,a label, button{
  font-weight: 700;
}

p,input,textarea{
  font-weight: 400;
}

:root{
  --cor-principal: #00ADB5;
  --cor-secundaria: #eeeeee;
  --cor-secundaria50: #eeeeee84;
  --cor-fundo: #222831;
  --cor-cinza: #393E46;
  --cor-cinza50: #393e4675;
}

header{
  width: 100%;
  height: 10vh;
  background-color: var(--cor-fundo);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1.5px var(--cor-cinza);
  position: fixed;
  z-index: 1;
}

.header-logo h1{
  color: var(--cor-secundaria);
}

.header-links a{
  color: var(--cor-secundaria);
  font-size: 24px;
  text-decoration: none;
  margin-left: 48px;
}

.header-links a:hover{
  color: var(--cor-principal);
  font-size: 26px;
  font-weight: 700;
}

#inicio{
  width: 100%;
  height: 100vh;
  background-color: var(--cor-fundo);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 7%;
  position: relative;
}

@media(max-width: 1200px){
  #inicio{
    height: auto;
    flex-direction: column;
    
  }
}

.inicio-ilustracao img{
  width: 100%;
  min-width: 300px;
  height: 100%;
}

#botao-inicio{
  position: absolute;
  bottom: 40px;
  left: 30%;
}

@media(max-width: 1200px){
  #botao-inicio{
    display: none;
  }
}

#seta-inicio{
  position: absolute;
  left: 5%;
  top: 30%;
}

@media(max-width: 1200px){
  #seta-inicio{
    top: 20%;
  }
}

.inicio-conteudo{
  margin-bottom: 300px;
}

@media(max-width: 1200px){
  .inicio-conteudo{
    margin: 200px 0px 100px 0px;
  }
}

.inicio-conteudo h1{
  font-size: 96px;
  color: var(--cor-secundaria);
  line-height: 30px;
}

.inicio-conteudo h1::first-letter{
  color: var(--cor-principal);
  font-size: 200px;
}

.inicio-conteudo h2{
  font-size: 96px;
  color: var(--cor-principal);
  margin-bottom: 50px;
}

.inicio-conteudo h1:hover,
.inicio-conteudo h2:hover{
  letter-spacing: 2px;
}

.inicio-conteudo .inicio-contrate{
  color: var(--cor-secundaria);
  background-color: var(--cor-principal);
  margin-right: 30px;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.6);
}

.inicio-conteudo .inicio-contrate:hover{
  background-color: var(--cor-cinza);
  box-shadow: 12px 10px 14px -2px rgba(0,0,0,0.77);
}

.inicio-conteudo .inicio-cv{
  color: var(--cor-secundaria);
  background-color: var(--cor-cinza);
  margin-right: 30px;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.6);
}

.inicio-conteudo .inicio-cv:hover{
  background-color: var(--cor-principal);
  box-shadow: 12px 10px 14px -2px rgba(0,0,0,0.77);
}

#sobre{
  width: 100%;
  padding: 200px 10%;
  background-color: var(--cor-fundo);
  display: flex;
  justify-content: space-around;
  position: relative;
}

@media(max-width: 1200px){
  #sobre{
    flex-direction: column;
  }
}

.sobre-ilustracao{
  display: flex;
  align-items: center;
}


.sobre-ilustracao img{
  width: 100%;
}

@media(max-width: 1200px){
  .sobre-ilustracao img{
    position: absolute;
    bottom: 70px;
    right: 10%;
    width: 300px;
  } 
}

#musica-sobre{
  position: absolute;
  left: 5%;
  top: 8%;
}

#seta-sobre{
  position: absolute;
  left: 22%;
  bottom: 20%;
}

.sobre-conteudo{
  width: 50%;
  min-width: 600px;
}

@media(max-width: 1200px){
  .sobre-conteudo{
    width: 100%;
    margin-bottom: 100px;
  }
}

.sobre-conteudo h1{
  font-size: 78px;
  color: var(--cor-secundaria);
}

.sobre-conteudo h1 span{
  color: var(--cor-principal);
}

.sobre-conteudo p{
  width: 85%;
  color: var(--cor-secundaria);
  font-size: 20px;
  line-height: 27px;
  opacity: 75%;
  margin-bottom: 40px;
  margin-top: 15px;
}

.sobre-linkedin{
  color: var(--cor-secundaria);
  background-color: var(--cor-principal);
  margin-right: 30px;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
}

.sobre-linkedin:hover{
  background-color: var(--cor-cinza);
  box-shadow: 4px 4px 4px #000000;
}

.sobre-github{
  color: var(--cor-secundaria);
  background-color: var(--cor-cinza);
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
}

.sobre-github:hover{
  background-color: var(--cor-principal);
  box-shadow: 4px 4px 4px #000000;
}

#projetos{
  width: 100%;
  padding: 200px 10%;
  background-color: var(--cor-fundo);
  background-image: url(imagens/fundo-projetos.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#projetos h1{
  font-size: 78px;
  color: var(--cor-secundaria);
  margin-bottom: 70px;
}

#projetos h1 span{
  color: var(--cor-principal);
}

.bloco-projetos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.bloco-projetos div{
  width: 25%;
  min-width: 380px;
  height: 300px;
  background-color: var(--cor-cinza50);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bloco-projetos div a{
  padding: 10px 15px;
  font-size: 30px;
  color: var(--cor-cinza);
  background-color: var(--cor-principal);
  border-radius: 50px;
  position: absolute;
  left: -20px;
  bottom: -20px;
}

.bloco-projetos div a:hover{
  transform: scale(1.1);
  background-color: var(--cor-cinza);
  color: var(--cor-principal);
}

#contato{
  width: 100%;
  padding: 200px 10%;
  background-color: var(--cor-fundo);
  display: flex;
  justify-content: space-between;
  position: relative;
}

#contato-teclado{
  position: absolute;
  top: 7%;
  right: 30%;
}

#contato-email{
  position: absolute;
  right: 15%;
  bottom: 10%;
}

.contato-conteudo h1{
  font-size: 78px;
  color: var(--cor-secundaria);
  margin-bottom: 30px;
  line-height: 60px;
}

.contato-conteudo h1 span{
  color: var(--cor-principal);
}

.contato-conteudo div{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contato-conteudo div img:nth-child(1){
  width: 30%;
}

.contato-conteudo div img:nth-child(2){
  width: 60%;
}

#formulario{
  width: 700px;
  min-width: 500px;
  height: 500px;
  margin-left: 80px;
}

.form-linha1{
  width: 100%;
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.form-linha1 div{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-linha1 label, .form-linha2 label{
  color: var(--cor-secundaria);
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-linha1 input{
  width: 100%;
  height: 60px;
  background-color: var(--cor-cinza);
  border-radius: 16px;
  border: none;
  outline: none;
  color: var(--cor-secundaria50);
  font-size: 20px;
  font-weight: bold;
  padding: 0px 7%;
}

.form-linha2{
  display: flex;
  flex-direction: column;
}

.form-linha2 textarea{
  width: 100%;
  max-width: 110%;
  min-width: 80%;
  height: 280px;
  max-height: 300px;
  min-height: 260px;
  background-color: var(--cor-cinza);
  border-radius: 16px;
  border: none;
  outline: none;
  color: var(--cor-secundaria50);
  font-size: 20px;
  font-weight: bold;
  padding: 20px 3%;
}

.form-linha2 button{
  color: var(--cor-secundaria);
  background-color: var(--cor-principal);
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  width: 200px;
  margin-top: 20px;
  outline: none;
  border: none;
}

.form-linha2 button:hover{
  background-color: var(--cor-cinza);
  box-shadow: 4px 4px 4px #000000;
}

footer{
  width: 100%;
  padding: 50px 10%;
  background-color: var(--cor-fundo);
}

.footer-social{
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}

.footer-social a{
  background-color: var(--cor-cinza);
  color: var(--cor-secundaria);
  padding: 20px 25px;
  font-size: 30px;
  border-radius: 50px;
  margin: 0px 20px;
}

.footer-social a:hover{
  background-color: var(--cor-principal);
  color: var(--cor-cinza);
}


.footer-copy{
  width: 100%;
  padding: 30px 0px;
  color: var(--cor-secundaria50);
  font-size: 20px;
  text-align: center;
}

#botao-fixo{
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 50px;
  background-color: var(--cor-principal);
  color: var(--cor-cinza);
  padding: 10px 22px;
  border-radius: 50px;
}

#botao-fixo:hover{
  background-color: var(--cor-cinza);
  color: var(--cor-principal);
}

::-moz-selection{
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
}

::selection{
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
}

::-moz-selection{
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
}

::-webkit-scrollbar{
  width: 22px;
}

::-webkit-scrollbar-track{
  background-color: var(--cor-fundo);
}

::-ms-track{
  background-color: var(--cor-fundo);
}

::-webkit-scrollbar-thumb{
  background-color: var(--cor-principal);
  border-radius: 30px;
}

::-ms-thumb{
  background-color: var(--cor-principal);
  border-radius: 30px;
}

::-moz-progress-bar{
  background-color: var(--cor-fundo);
}

